@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    background-color: #e5e5e5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-inline: 5rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 18px;
}

ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul a:hover {
    color: #9a9a9a;
}

.login-acc {
    width: 2rem;
    cursor: pointer;
}

#content {
    padding-inline: 5rem;
}

#hero {
    background-image: url(assets/img/hero-photo.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-text {
    text-align: center;
    color: white;
}

#category {
    padding-block: 50px;
}

#category-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.category-card-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

footer {
    text-align: center;
}


